$def with (post)

<br>

<section>
    <div>
        <h2 align=center >EDITAR</h2>
    </div>

<br>

        <form method="post" action="">
            <div>
            <a class="submit" href="/viewdata"><button>CANCELAR</button></a>
            </div>

                <br>
                
                <div>
                    <label for="carreraP">Carrera:</label>
                    <input type="text" value="$post.carrera" id="carreraP" name="carreraP" placeholder="Carrera">
                </div>

                <div>
                    <label for="universidadP">Universidad:</label>
                    <input type="text" value="$post.universidad" id="universidadP" name="universidadP" placeholder="Universidad">
                </div>

                <div>
                    <label for="duracionP">Duracion:</label>
                    <input type="text" value="$post.duracion" id="duracionP" name="duracionP" placeholder="Duracion">
                </div>

                <div>
                    <label for="modalidadP">Modalidad:</label>
                    <input type="text" value="$post.modalidad" id="modalidadP" name="modalidadP" placeholder="Modalidad">
                </div>

                <div>
                    <label for="telefonoP">Telefono:</label>
                    <input type="text" value="$post.telefono" id="telefonoP" name="telefonoP" placeholder="Telefono">
                </div>

                <div>
                    <label for="direccionP">Direccion:</label>
                    <input type="text" value="$post.direccion" id="direccionP" name="direccionP" placeholder="Direccion">
                </div>

                <br>

                <div>
                <input type="submit" value="Actualizar" />
                </div>
            </form>
        </div>
    </section>
</div>
