<br>
<section>
    <div>
        <h2 align=center >Nuevo</h2>
    </div>   
</section>
    
    <br>
            <form method="post" action="">
            <div>
                <a class="myButton" href="/viewdata">Cancelar</a>
            </div>
                <br>
                
                <div>
                    <label for="carreraP">Carrera:</label>
                    <input type="text" id="carreraP" name="carreraP" placeholder="Carrera">
                </div>

                <div>
                    <label for="paisP">Universidad:</label>
                    <input type="text" id="universidadP" name="universidadP" placeholder="Universidad:">
                </div>

                <div>
                    <label for="duracionP">Duracion:</label>
                    <input type="text" id="duracionP" name="duracionP" placeholder="Duracion">
                </div>

                <div>
                    <label for="modalidadP">Modalidad:</label>
                    <input type="text" id="modalidadP" name="modalidadP" placeholder="Modalidad">
                </div>

                <div>
                    <label for="telefonoP">Telefono:</label>
                    <input type="text" id="telefonoP" name="telefonoP" placeholder="Telefono">
                </div>

                <div>
                    <label for="direccionP">Direccion:</label>
                    <input type="text" id="direccionP" name="direccionP" placeholder="Direccion">
                </div>

                <br>

                <div>
                <input type="submit" value="AGREGAR" />
                </div>
            </form>
    </section>

